In [74]:
import pandas as pd

In [76]:
file = "SUBC/Expenses Oct- Dec 2018.xlsx"
frame = pd.read_excel(file)
frame.head()

,Date,Code,Debit,Credit,Description,Reference,Reference 2,Note
0,2018-10-05,CASH,26157.0,0.0,Sales banked,Cheque No.001198,CBR00499,NaN
1,2018-10-05,CASH,26157.0,0.0,Sales banked,Cheque No.001197,CBR00499,NaN
2,2018-10-05,CASH,52800.0,0.0,Sales banked,Cheque No.01205,CBR00499,NaN
3,2018-10-05,CASH,0.0,26157.0,Simon Njaria salaries - August 2018,PV 1606 - Cheque No.001198,JBR00259,NaN
4,2018-10-05,CASH,0.0,26157.0,Simon Njaria salaries - September 2018,PV 1604 - Cheque No.001198,JBR00259,NaN

In [61]:
credit_list = frame["Credit"].tolist()

credit = []
for cred in credit_list:
    if cred != 0:
        credit.append(cred)
print(credit)

[26157.0, 26157.0, 52800.0, 49100.0, 49100.0, 36960.0, 16650.0, 10380.0, 90000.0, 77700.0, 139976.0, 11000.0, 66006.0, 62006.0, 16650.0, 12500.0, 327082.0, 69655.0, 10000.0, 22340.0, 79344.0, 4050.0, 2250.0, 6750.0, 808663.0, 90000.0, 90000.0, 10699.0, 326169.0, 32812.0, 23000.0, 23275.0, 9307.0, 7257.0, 26816.0, 3450.0, 200000.0, 400000.0, 6200.0, 17400.0, 108000.0, 400000.0, 400000.0, 15006.0, 50115.0, 67725.0, 25000.0, 8800.0, 207361.0, 12750.0, 31320.0, 49100.0, 32100.0, 294720.0, 113286.0, 50872.0, 12498.0, 7200.0, 7033.0, 50000.0, 60298.0, 21715.0, 15570.0, 68300.8, 15000.0, 35000.0, 22050.0, 30000.0, 21715.0, 760500.0, 21715.2, 400000.0, 21715.2, 8800.0, 60000.0, 45000.0, 45000.0, 66000.0, 35000.0, 35700.0, 535416.0, 294720.0, 150000.0, 82219.0, 383000.0, 335333.0, 82639.0, 23560.0, 12496.0, 401870.4, 401870.4, 401870.4, 401870.4, 201376.0, 12496.0, 12000.0]

In [62]:
debit_list = frame["Debit"].tolist()

debit = []
for deb in debit_list:
    if deb != 0:
        debit.append(deb)
print(debit)

[26157.0, 26157.0, 52800.0, 49100.0, 139976.1, 36960.0, 90000.0, 77700.0, 11000.0, 10380.0, 16650.0, 16650.0, 11000.0, 66006.0, 62006.0, 66006.0, 62006.0, 12500.0, 69655.0, 327082.0, 79344.0, 4050.0, 10000.0, 22340.0, 6750.0, 2250.0, 2250.0, 90000.0, 90000.0, 244708.0, 563955.0, 10699.0, 326169.0, 32812.0, 3450.0, 9307.0, 7257.0, 23275.0, 26816.0, 23000.0, 200000.0, 400000.0, 22050.0, 6200.0, 108000.0, 400000.0, 400000.0, 15000.0, 15006.0, 50115.0, 67725.0, 25000.0, 8800.0, 8800.0, 207361.0, 12750.0, 31320.0, 1320.0, 49100.0, 32100.0, 12498.0, 50872.0, 294720.0, 12498.0, 7200.0, 113286.0, 7033.0, 27353.0, 50000.0, 21715.2, 60298.0, 15570.0, 68300.8, 15000.0, 35000.0, 22050.0, 30000.0, 22050.0, 21715.0, 760500.0, 21715.2, 400000.0, 21715.2, 8800.0, 45000.0, 45000.0, 35700.0, 60000.0, 8800.0, 35000.0, 535416.0, 294720.0, 66000.0, 335333.0, 150000.0, 82219.0, 383000.0, 82639.0, 23560.0, 12000.0, 13600.0, 12496.0, 201376.0, 401870.4, 401870.4, 401870.4, 401870.4, 12496.0, 12000.0]

In [ ]:
#sum(set(debit).intersection(credit))

In [ ]:
#mike = list(set(debit) - set(credit))

In [57]:
def list_difference(b, a):
    c = list(b)
    for item in a:
       try:
           c.remove(item)
       except ValueError:
           pass            #or maybe you want to keep a values here
    return c

In [63]:
list_difference(credit, debit)

[139976.0, 808663.0, 17400.0, 49100.0, 21715.0]

In [64]:
list_difference(debit, credit)

[139976.1,
 11000.0,
 66006.0,
 62006.0,
 2250.0,
 244708.0,
 563955.0,
 1320.0,
 12498.0,
 27353.0,
 15000.0,
 22050.0,
 22050.0,
 21715.2,
 8800.0,
 8800.0,
 13600.0,
 12000.0]

In [71]:
debit_nonrepeat = list_difference(debit, credit)
credit_nonrepeat = list_difference(credit, debit)
print("These are the non repeat debit : " + str(debit_nonrepeat))
print("\n\nThese are the non repeat credit : " + str(credit_nonrepeat))

These are the non repeat debit : [139976.1, 11000.0, 66006.0, 62006.0, 2250.0, 244708.0, 563955.0, 1320.0, 12498.0, 27353.0, 15000.0, 22050.0, 22050.0, 21715.2, 8800.0, 8800.0, 13600.0, 12000.0]


These are the non repeat credit : [139976.0, 808663.0, 17400.0, 49100.0, 21715.0]

In [68]:
total_debit = sum(debit_nonrepeat)
total_credit = sum(credit_nonrepeat)
Difference = total_debit - total_credit
total_debit
total_credit
Difference

218233.30000000005

In [72]:
final = frame[frame["Debit"].isin(debit)]
final.to_excel('debit_uncatego.xlsx')

In [73]:
final = frame[frame["Credit"].isin(credit)]
final.to_excel('credit_uncatego.xlsx')