In [1]:
import pandas as pd

In [2]:
file = "SUBC/SUK unacategorized expense.xlsx"
frame = pd.read_excel(file)
frame.tail()

,Date,Code,Debit,Credit,Description,Reference,Reference 2,Note
114,2018-12-13,JNL,0.0,13000.0,Car fuel for Dec 2018 and garbage collection,PV 2125,123,NaN
115,2018-12-19,CASH,5500.0,0.0,Inwarcd cheque payment,Bank statement,CBR00320,NaN
116,2018-12-19,JNL,0.0,5500.0,Payment of Bible readin marathon,Cheque No.00524,123,NaN
117,2018-12-19,CASH,124550.0,0.0,Cheque Encashment,Cheque No.00964,CBR00367,NaN
118,2018-12-19,JNL,0.0,124550.0,Isinya costs,PV 2133,123,NaN

In [ ]:
credit_list = frame["Credit"].tolist() #creates a list from a column

credit = []
for cred in credit_list:  #appends the non zero to the credit list
    if cred != 0:
        credit.append(cred)
print(credit)

In [ ]:
debit_list = frame["Debit"].tolist()

debit = []
for deb in debit_list:
    if deb != 0:
        debit.append(deb)
        pass
print(debit)

In [ ]:
#sum(set(debit).intersection(credit))

In [ ]:
#mike = list(set(debit) - set(credit))

In [ ]:
def list_difference(b, a): # Removes the numbers from b for those that are found in a
    c = list(b)
    for item in a:
       try:
           c.remove(item)
       except ValueError:
           pass            #or maybe you want to keep a values here
    return c

In [ ]:
list_difference(credit, debit)

In [ ]:
list_difference(debit, credit)

In [ ]:
debit_nonrepeat = list_difference(debit, credit)
credit_nonrepeat = list_difference(credit, debit)
print("These are the non repeat debit : " + str(debit_nonrepeat))
print("\n\nThese are the non repeat credit : " + str(credit_nonrepeat))

In [ ]:
total_debit = sum(debit_nonrepeat)
total_credit = sum(credit_nonrepeat)
Difference = total_debit - total_credit
total_debit
total_credit
Difference

In [ ]:
final = frame[frame["Debit"].isin(debit)]
final.to_excel('debit_uncatego.xlsx')

In [ ]:
final = frame[frame["Credit"].isin(credit)]
final.to_excel('credit_uncatego.xlsx')